
body{background-color: #333333; color: white; margin:10px;}
a{ text-decoration: none; color: black;}

.search {
    color: purple;
     border-radius: 30px;
    height: 30px;
    position:absolute; top: 30px; right: 30px;

}
